@use "@material/elevation/mdc-elevation";

html,
body,
body>div {
  height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1px); // fix some browser problem

  main {
    flex-grow: 1;
    margin-top: -1px;
    overflow-y: auto;
    padding-top: 1px;
  }

  footer {
    flex-grow: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
}
